# Ignore log files but distributed model
logs/*
!logs/trained_model/
logs/trained_model/*
!logs/trained_model/checkpoints/

# Ignore intermediate SENSE recons
sense/

# ignore data
# Data is available on 
sample_data/*.h5

*/__pycache__/
fastmri.egg-info/