# Ignore log files but distributed model
logs/*
!logs/SSV/
logs/SSV/*
!logs/SSV/checkpoints/
!logs/SV/
logs/SV/*
!logs/SV/checkpoints/

# Ignore data
# Data is available on 
sample_data/*.h5

# Ignore IDE related
.vscode/
**/__pycache__/
*.egg-info/

# Ignore result figures
Figures/